@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400&display=swap');
.avatar {
  border-radius: 50%;
  width: 65px;
  height: 65px;
}

:root {
  --text-shadow: 0px 3px 3px rgba(0,0,0,0.3);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.3);
}

.new-note {
  text-align: center;
}

header {
position: relative;
size: 750px;
border-radius: 10px;
}

.flex-li {
  max-height:min-content  ;
  padding: 0.5rem 0 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.flex-item {
  min-width: 194;
  margin: 0 10px 0 10px ;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  -webkit-user-select: none; 
  -webkit-touch-callout: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  background-color: rgba(40, 71, 151, 0.24);
  font-size: 17px;
  margin: 0 auto;   /* center content */
  max-width: 800px; /* limit width */
  line-height: 1.5;
  padding-top: 32px;  
  padding-bottom: 32px;
}

#background {
  position: relative;
  padding: 15px;
  width: auto;
  height: auto;
  background: white;
  border-radius: 10px;
}

header, footer {
  background-color: rgba(40, 71, 151, 0.925);
  color: white;
  line-height: 100px;
  padding: 0 20px;
}

.new-note, .note-display {
  padding: 20px;
}

img {
  pointer-events: none;
}
.new-note {
  box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.3);
  padding: auto;
  border-radius: 10px;
  background-color: rgb(200, 213, 228);
}

h1, h2, li, button {
  text-shadow: var(--text-shadow);
}

h1 {
  margin: 0;
}

ul {  
  list-style-type: none;
  padding-left: 0;
}

div {
  margin-bottom: 10px;
}

input[type="text"] {
  font-family: inherit; /* 1 */
  font-size: inherit; /* 1 */
  line-height: inherit; /* 1 */
  
}

/* установим отступ 1rem от нижнего края элемента */
/*.text-field {
  margin-bottom: 1rem;
}

/* стили для input */
.text-field__input {
  margin: 0;
  display: block;
  width: 80%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  filter: drop-shadow(0px 0px 3px);
}

.text-field__input:focus {
  color: #212529;
  background-color: #fff; 
  border-color: #7e7c7c;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.button__input {
  appearance: none;
  width: 100%;
  height: calc(2.25rem + 2px);
  border: 0;
  border-radius: 5px;
  background: #ffffff;
  color: 212529;
  padding: 0.375rem 0.75rem; 
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5; 
  border: 1px solid #bdbdbd;  
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 0;
  filter: drop-shadow(0px 0px 3px);
} 

.button__input:hover {
  background: #e6e6e6;
}

.button__input:focus {
  outline: none;
  background: #ffffff ;
  box-shadow: 0 0 0 4px #cbd6ee;
}

.button__del {
  filter: drop-shadow(0px 0px 3px);
  appearance: none;
  height: calc(2.25rem + 2px);
  border: 0;
  border-radius: 5px;
  background: #ffffff;
  color: 212529;
  padding: 0.375rem 0.75rem; 
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5; 
  border: 1px solid #bdbdbd;  
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
}

.button__del:hover {
  background: #e6e6e6;
}

.button__del:focus {
  outline: none;
  background: #ffffff ;
  box-shadow: 0 0 0 4px #cbd6ee;
}

a#url {
  filter: drop-shadow(0px 0px 3px);
  margin: 0 5% 0 5%;
  display: inline-flex;
  height: calc(2.25rem + 2px);
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  border: 1px solid #bdbdbd;
  background: #ffffff;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
  align-items: center;
  justify-content: center

}
a#url:hover {
  background: #e6e6e6;
}
a#url:active {
  outline: none;
  background: #ffffff ;
  box-shadow: 0 0 0 4px #cbd6ee;  
}

a#url {
  text-decoration: none;
  color: #666;
}

#url {
  display:block; 
  width: 80%; 
  height: 100%;

}

li {
  text-align: center;
}

#success {
  margin: 0;
} 

.flex-urls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

