@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400&display=swap');


* {
  transition: all 0.1s;
}
:root {
  --text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  --text-shadow: 0px 3px 3px rgba(0,0,0,0.3);
  --border-color: #00000020;
  --nsd-color: rgba(40, 71, 151, 0.925);
}


.avatar {
  border-radius: 50%;
  width: 65px;
  height: 65px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  /* box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.3); */
}

.new-note {
  text-shadow: none;
  text-align: center;
}

h2, li {
  transition: all 0s;
}

header {
position: relative;
size: 750px;
border-radius: 10px;
}

.flex-li {
  max-height:min-content  ;
  padding: 0.5rem 0 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.flex-item {
  min-width: 194;
  margin: 0 10px 0 10px ;
}

body {
  color: var(--light-text-colour);
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  -webkit-user-select: none; 
  -webkit-touch-callout: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  background-color: var(--light-background-colour);
  font-size: 17px;
  margin: 0 auto;   /* center content */
  max-width: 800px; /* limit width */
  line-height: 1.5;
  padding-top: 32px;  
  padding-bottom: 32px;
}

#background {
  position: relative;
  padding: 15px;
  width: auto;
  height: auto;
  background: var(--light-background-div-colour);
  border-radius: 10px;
}

header, footer {
  background-color: var(--light-header-colour);
  color: white;
  line-height: 100px;
  padding: 0 20px;
}

.new-note, .note-display {
  text-shadow: none;
  padding: 20px;
}

img {
  pointer-events: none;
}
.new-note {
  /* box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.3); */
  padding: auto;
  border-radius: 10px;
  background-color: var(--light-note-colour);
}

h1 {
  margin: 0;
}

ul {  
  list-style-type: none;
  padding-left: 0;
}

div {
  margin-bottom: 10px;
}

input[type="text"] {
  font-family: inherit; /* 1 */
  font-size: inherit; /* 1 */
  line-height: inherit; /* 1 */
  
}

/* установим отступ 1rem от нижнего края элемента */
/*.text-field {
  margin-bottom: 1rem;
}

/* стили для input */
.text-field__input {
  margin: 0;
  display: block;
  width: 80%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-field__input:focus {
  outline: 0;
  -webkit-focus-ring-color: transparent;
  -webkit-tap-highlight-color: transparent;
  box-shadow: none;
  box-shadow: 0 0 0 1px var(--nsd-color);
  border-color: var(--nsd-color);
}

.button__input, .button__del, a#url {
  appearance: none;
  width: 100%;
  height: calc(2.25rem + 16px);
  border: 0;
  border-radius: 8px;
  background: #ffffff;
  color: 212529;
  padding: 0.375rem 0.75rem; 
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5; 
  border: 1px solid #bdbdbd;  
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 0;
  transition: 0.3s;
} 

.button__input:hover, .button__del:hover, a#url:hover {
  transform: scale(1.1);
}

.button__input:focus, .button__del:focus, a#url:active {
  background: #e6e6e6;
}

.button__del {
  width: 40%;
  height: 80%;
}


a#url {
  margin: 0 5% 0 5%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 80%;

}

a#url {
  text-decoration: none;
  color: black;
}

#url {
  display:block; 
  width: 80%; 
  height: 100%;

}

li {
  text-align: center;
}

#success {
  margin: 0;
} 

.flex-urls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.circle {
  background: var(--light-btn-colour);
  border: 0.1875em solid var(--light-btn-border);
  border-radius: 50%;
  box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
  height: 2em;
  width: 2em;
}